#dato0{color:aqua; font: size 30px; }
.pato{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: right; background-color: bisque;}
div{height: 400px;
width: 400px;}